/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Fondo claro para contraste */
}

/* Fondo del encabezado con desenfoque */
.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.7)), url('/imagenes/blanco.png');
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Desenfoque en el fondo */
    z-index: 1;
}

/* Contenido del encabezado */
.header-content {
    position: relative;
    z-index: 3; /* Asegura que el contenido esté por encima del fondo */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.logo-img {
    width: 100px;
    height: 100px;
}

/* Botón de encuesta */
.encuesta-btn {
    background-color: #ffcc00;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
}

/* Estilo de la navegación */
/* Barra de navegación */
.navbar {
    position: relative;
    z-index: 4; /* Asegura que esté por encima de la cabecera */
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Añade sombra para separar visualmente */
    margin-top: 5px;
}
.navbar-nav .nav-link {
    color: #333;
    font-weight: bold;
    margin: 0 15px;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

/* Secciones con fondo blanco */
section {
    padding: 40px 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Galería de productos */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

/* Configuración de productos en la galería */
.producto {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

/* Configuración del carrusel dentro de cada producto */
.producto .carousel {
    width: 100%;
    height: auto;
}

.producto .carousel-inner img {
    width: 100%;
    height: auto;
}

/* Título sobre la imagen en la galería */
.title {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-size: 14px;
    text-align: center;
}

/* Descripción y precio de los productos */
.description {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.price {
    font-weight: bold;
    color: #28a745;
    margin-top: 8px;
}

/* Barra de información en diagonal sobre la imagen */
.info-barra-diagonal {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transform: skewY(-10deg);
    transform-origin: bottom left;
}

/* Botones de acción */
button.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

button.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Estilos del Blog */
.blog-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog-card img{
    width: 100%;
}

.blog-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.blog-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.blog-summary {
    font-size: 1rem;
    color: #555;
}

.blog-content {
    display: none;
    font-size: 0.9rem;
    color: #333;
    margin-top: 10px;
}

/* Botón para expandir el contenido */
.toggle-content {
    font-size: 0.9rem;
    color: #007bff;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

.toggle-content:hover {
    text-decoration: underline;
}


/* Icono de WhatsApp */
.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-icon img {
    width: 50px;
    height: auto;
    cursor: pointer;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: left;
}

.footer a {
    color: #ffcc00;
}

.footer a:hover {
    color: #ffc107;
}

.modal-content {
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-body img {
  max-height: 250px;
  object-fit: cover;
}

/* Media queries */
@media (max-width: 600px) {
    .producto {
        flex: 1 1 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
    .info-barra-diagonal {
        font-size: 0.8rem;
    }

}

@media (max-width: 990px) {
    .producto {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
    .info-barra-diagonal {
        font-size: 1rem;
    }
  
}
