<!-- Footer con contacto, enlaces y suscripción -->
<footer class="footer bg-dark text-white py-4" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contacto</h5>
                <p>Email: tono.tp@gmail.com</p>
                <p>Teléfono: +5493513742796</p>
            </div>
            <div class="col-md-4">
                <h5>Secciones</h5>
                <ul class="list-unstyled">
                    <li><a href="/pages/catalogo.html" class="text-white">Catálogo de Productos</a></li>
                    <li><a href="/pages/blog.html" class="text-white">Blog</a></li>
                    <li><a href="/pages/clases.html" class="text-white">Clases y Entrenador</a></li>
                    <li><a href="/pages/ubicacion.html" class="text-white">Ubicación</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Suscríbete</h5>
                <p>Recibe novedades en tu correo.</p>
                <!-- Formulario de suscripción de Mailchimp -->
                <form action="https://tiroconarcobarrancas.us15.list-manage.com/subscribe/post?u=0234b1c5eff8605eecdc7f7b5&amp;id=76af0231d4&amp;f_id=0066f6e1f0" method="post" target="_blank">
                    <div class="form-group">
                        <input type="email" name="EMAIL" class="form-control" placeholder="Ingresa tu email" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</footer>
